<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					http://www.springframework.org/schema/beans/spring-beans.xsd
       					http://www.springframework.org/schema/context 
       					http://www.springframework.org/schema/context/spring-context.xsd
       					http://www.springframework.org/schema/aop 
       					http://www.springframework.org/schema/aop/spring-aop.xsd
       					http://www.springframework.org/schema/tx 
       					http://www.springframework.org/schema/tx/spring-tx.xsd ">				
  
  
    <!-- 加载 配置文件 -->
 	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 1.2 配置数据源 -->
	<bean id="c3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${driverClass}"></property>
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>
    
     <!-- 加载 hibernate的配置文件  -->
   	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="c3p0"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="mappingLocations" value="classpath:com/tjrac/bos/domain/*.hbm.xml"></property>
	</bean>

     <!-- 3.事务管理 -->
	<!-- 3.1 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<context:component-scan base-package="com.tjrac.bos"></context:component-scan>
	
	<context:annotation-config/>
	
	<tx:annotation-driven/>
	
	<!-- hessian 配置远程服务的代理对象 -->
    <bean id="customerService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<!-- 注入接口的访问类型 -->
		<property name="serviceInterface" value="com.tjrac.crm.service.CustomerService"/>
		<!-- 服务访问的路径 -->
		<property name="serviceUrl" value="http://localhost:8080/bos_crm/remoting/customer"/>
	</bean>
	
	
	<!-- 注册自定义的realm -->
	<bean id="myRealm" class="com.tjrac.bos.shiro.MyRealm">
	</bean>
	
	<!-- shiro安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- 注入realm -->
		<property name="realm" ref="myRealm"></property>
	</bean>
	
	
	<!-- 配置工厂bean 用于创建shiro框架用到的过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 注入安全管理器 -->
		<property name="securityManager" ref="securityManager"></property>
		<!-- 注入当前系统的登录页面 -->
		<property name="loginUrl" value="/login.jsp"></property>
		<!-- 注入成功的页面 -->
		<property name="successUrl" value="/index.jsp"></property>
		<!-- 注入权限不足的提示页面 -->
		<property name="unauthorizedUrl" value="/404.html"></property>
		<!-- 注入URL拦截的规则 -->
		<property name="filterChainDefinitions">
			<value>
				/css/** = anon
				/images/** = anon
				/js/** = anon
				/login.jsp* = anon
				/validatecode.jsp* = anon
				/userAction_login.action = anon
				/page_base_staff.action = perms["staff"]
				/* = authc
			</value>
		</property>
	</bean>
	
	
	<!-- 开启shiro注解 -->
    <bean id="defaultAdvisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
	    <!-- 强制使用cglib创建action的代理对象 -->
	    <property name="proxyTargetClass" value="true"></property>
    </bean>
    
    <!-- 切面类 -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    </bean>
</beans>
