<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd">
  <!-- 配置连接池： 1、 引入配置文件  2、配置c3p0 -->
  <context:property-placeholder location="classpath:jdbc.properties"/>
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
  		<property name="user" value="${jdbc.user}"></property>
  		<property name="password" value="${jdbc.password}"></property>
  		<property name="jdbcUrl" value="${jdbc.url}"></property>
  		<property name="driverClass" value="${jdbc.driver}"></property>
  </bean>	
  
  <!-- Hibernate的配置：sessionFactory -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  		<property name="dataSource" ref="dataSource"></property>
  		<property name="hibernateProperties">
  			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
  		</property>
  		<!-- 映射文件 -->
  		<property name="mappingLocations" value="classpath:com/tjrac/tao/*/vo/*.hbm.xml"></property>
  </bean> 
  
  <!-- 事务管理器 --> 
  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  		<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
  <!-- 开启注解事务 -->
  <tx:annotation-driven transaction-manager="transactionManager"/>	 
  
  <!-- action的配置 -->
  <bean id="indexAction" class="com.tjrac.tao.index.action.IndexAction" scope="prototype">
  </bean>
  
  <!-- 配置验证码的action -->
  <bean id="checkImageAction" class="com.tjrac.tao.user.action.CheckImageAction" scope="prototype">
  </bean>
  
  <!-- 用户模块的action -->
  <bean id="userAction" class="com.tjrac.tao.user.action.UserAction" scope="prototype">
   		<property name="userService" ref="userService"></property>
  </bean>
  
  <!-- 用户模块的service -->
  <bean id="userService" class="com.tjrac.tao.user.service.impl.UserServiceImpl">
  		<property name="userDao" ref="userDao"></property>
  </bean>
  
  <!-- 用户模块的dao -->
  <bean id="userDao" class="com.tjrac.tao.user.dao.impl.UserDaoImpl">
  		<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
   
</beans>
