<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd">
 
  <!-- ===============公共模块================== -->
  <!-- 配置连接池： 1、 引入配置文件  2、配置c3p0 -->
  <context:property-placeholder location="classpath:jdbc.properties"/>
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
  		<property name="user" value="${jdbc.user}"></property>
  		<property name="password" value="${jdbc.password}"></property>
  		<property name="jdbcUrl" value="${jdbc.url}"></property>
  		<property name="driverClass" value="${jdbc.driver}"></property>
  </bean>	
  
  <!-- Hibernate的配置：sessionFactory -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  		<property name="dataSource" ref="dataSource"></property>
  		<property name="hibernateProperties">
  			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
  		</property>
  		<!-- 映射文件 -->
  		<property name="mappingLocations" value="classpath:com/tjrac/tao/*/vo/*.hbm.xml"></property>
  </bean> 
  
  <!-- 事务管理器 --> 
  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  		<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
  <!-- 开启注解事务 -->
  <tx:annotation-driven transaction-manager="transactionManager"/>	 
  
  <!-- 主页action的配置 -->
  <bean id="indexAction" class="com.tjrac.tao.index.action.IndexAction" scope="prototype">
 	<property name="categoryService" ref="categoryService"></property>
  	<property name="productService" ref="productService"></property>
  </bean>
  
  <!-- 配置验证码的action -->
  <bean id="checkImageAction" class="com.tjrac.tao.user.action.CheckImageAction" scope="prototype">
  </bean>
  
  <!-- ==================用户模块================ -->
  <!-- 用户模块的action -->
  <bean id="userAction" class="com.tjrac.tao.user.action.UserAction" scope="prototype">
   		<property name="userService" ref="userService"></property>
  </bean>
  
  <!-- 用户模块的service -->
  <bean id="userService" class="com.tjrac.tao.user.service.impl.UserServiceImpl">
  		<property name="userDao" ref="userDao"></property>
  </bean>
  
  <!-- 用户模块的dao -->
  <bean id="userDao" class="com.tjrac.tao.user.dao.impl.UserDaoImpl">
  		<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>

  <!-- ==================一级分类======================= -->  
  <!-- 一级分类的action -->
  <bean id="categoryAction" class="com.tjrac.tao.category.action.CategoryAction" scope="prototype">
  	   <property name="categoryService" ref="categoryService"></property>
  	   <property name="productService" ref="productService"></property>
  </bean>

  <!-- 一级分类的service -->
  <bean id="categoryService" class="com.tjrac.tao.category.service.impl.CategoryServiceImpl">
	  <property name="categoryDao" ref="categoryDao"></property>
  </bean>

  <!-- 一级分类的dao -->
  <bean id="categoryDao" class="com.tjrac.tao.category.dao.impl.CategoryDaoImpl">
   	  <property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
  
  <!-- ==================商品模块======================= -->  
  <!-- 商品的action -->
  <bean id="productAction" class="com.tjrac.tao.product.action.ProductAction" scope="prototype">
  	<property name="productService" ref="productService"></property>
  </bean>
  
   <!-- 商品的service -->
   <bean id="productService" class="com.tjrac.tao.product.service.impl.ProductServiceImpl">
   	  <property name="productDao" ref="productDao"></property>
   </bean>
   
   <!-- 商品的dao -->
   <bean id="productDao" class="com.tjrac.tao.product.dao.impl.ProductDaoImpl">
   	  <property name="sessionFactory" ref="sessionFactory"></property>
   </bean> 
 
   <!-- ==================二级分类模块======================= -->  
   <!-- 二级分类的action -->
   <bean id="categorySecondAction" class="com.tjrac.tao.categorysecond.action.CategorySecondAction">
   		<property name="categorySecondService" ref="categorySecondService"></property>
   </bean>
  
   <!-- 二级分类的service -->
   <bean id="categorySecondService" class="com.tjrac.tao.categorysecond.service.impl.CategorySecondServiceImpl">
   		<property name="categorySecondDao" ref="categorySecondDao"></property>
   </bean>	
   
   <!-- 二级分类的dao -->
   <bean id="categorySecondDao" class="com.tjrac.tao.categorysecond.dao.impl.CategorySecondDaoImpl">
   		<property name="sessionFactory" ref="sessionFactory"></property>
   </bean>	
  	
   <!-- ==================购物车模块======================= -->  
   <!-- 购物车的action -->	
   <bean id="cartAction" class="com.tjrac.tao.cart.action.CartAction" scope="prototype">
   		<property name="productService" ref="productService"></property>
   </bean>	
   
   <!-- ==================订单模块======================= -->  
   <!-- 订单的action -->	
   <bean id="orderAction" class="com.tjrac.tao.order.action.OrderAction" scope="prototype">
   		<property name="orderService" ref="orderService"></property>
   </bean>
   
    <!-- 订单的service -->
   <bean id="orderService" class="com.tjrac.tao.order.service.impl.OrderServiceImpl">
   		<property name="orderDao" ref="orderDao"></property>
   </bean>
   
   <!-- 订单的dao -->
   <bean id="orderDao" class="com.tjrac.tao.order.dao.impl.OrderDaoImpl">
   		<property name="sessionFactory" ref="sessionFactory"></property>
   </bean>
   
   <!-- ==================后台管理模块:管理员======================= -->  
   <!-- 后台管理的action -->
   <bean id="adminUserAction" class="com.tjrac.tao.admin.action.AdminUserAction" scope="prototype">
   		<property name="adminUserService" ref="adminUserService"></property>
   </bean>
   
   <!-- 后台管理的service -->
   <bean id="adminUserService" class="com.tjrac.tao.admin.service.impl.AdminUserServiceImpl">
   		<property name="adminUserDao" ref="adminUserDao"></property>
   </bean>
   
   <!-- 后台管理的dao -->
   <bean id="adminUserDao" class="com.tjrac.tao.admin.dao.impl.AdminUserDaoImpl">
   		<property name="sessionFactory" ref="sessionFactory"></property>
   </bean>
   
   <!-- ==================后台管理模块：一级菜单======================= -->  
   <!-- 一级菜单管理的action -->
   <bean id="adminCategoryAction" class="com.tjrac.tao.category.adminaction.AdminCategoryAction" scope="prototype">
   		<property name="categoryService" ref="categoryService"></property>
   </bean>
   
   <!-- ==================后台管理模块：二级菜单======================= -->  
   <!-- 一级菜单管理的action -->
   <bean id="adminCategorySecondAction" class="com.tjrac.tao.categorysecond.adminaction.AdminCategorySecondAction" scope="prototype">
   		<property name="categorySecondService" ref="categorySecondService"></property>
 		<property name="categoryService" ref="categoryService"></property>
   </bean>
   	
   	
</beans>
