<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					http://www.springframework.org/schema/beans/spring-beans.xsd
       					http://www.springframework.org/schema/context 
       					http://www.springframework.org/schema/context/spring-context.xsd
       					http://www.springframework.org/schema/aop 
       					http://www.springframework.org/schema/aop/spring-aop.xsd
       					http://www.springframework.org/schema/tx 
       					http://www.springframework.org/schema/tx/spring-tx.xsd ">			
     <!-- 职务的配置文件  dao service-->				
     
     <!-- 职务dao -->
     <bean id="postDao" class="com.tjrac.crm.post.dao.impl.PostDaoImpl">
	     <property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
       			
     <!-- 职务的service -->		
     <bean id="postService" class="com.tjrac.crm.post.service.impl.PostServiceImpl">
         <property name="postDao" ref="postDao"></property>
     </bean>
</beans>
